extends layout

block content 
	h1 Login
	form(method='POST', action='/users/login')
		#form-group
			label Username:
			input.form-control(name='username', type='text')
		#form-group
			label Password:
			input.form-control(name='password', type='password')
		br
		input.btn.btn(type="button" onclick="location.href = '/auth/google';" style="background-image: url( 'http://localhost:8080/public/images/google.png'); width: 195px; height: 50px")







