extends layout

block content 
	h1 Registered Users
	if !users.empty
		ul.list-group
			each user, i in users
				li.list-group-item
					img(src=user.profilePic, height='40px', width='40px')
					a(href="/users/profile/"+ user._id)= "     " + user.name

	else
		p4 No users registered!