extends layout

block content 
	h1 Registered Users
	if !users.empty
		ul.list-group
			each user, i in users
				li.list-group-item
					a(href="/users/profile/"+ user._id)=user.name
	else
		p4 No users registered!