extends layout

block content 

	if user.profilePic
	.container
		.row
			.profile-header-container
				.profile-header-img
					img.img-circle(src=user.profilePic)
					// badge
					.rank-label-container
						span.label.label-default.rank-label=user.name

	form(method='POST' enctype='multipart/form-data' action='/users/upload/' + user.id)
		#form-group
			label Upload Profile Picture
			input.form-control(type='file' name='avatar')
		br
		input.btn.btn-primary(type='submit' value='Submit')







